
body {
  background-color: #f5f2ed;
  color: #283659;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
h1 {
  margin-top: 6vw;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 600;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
select {
  background-color: #283659;
  color: #f5f2ed;
  font-size: 1rem;
  font-weight: 300;
  padding: .35rem 1.2rem;
  border: none;
  border-radius: 4px;
  width: 470px;
  margin-bottom: .5rem;
}
option:after {
  background-color: #d0cdc7;
  color: #283659;
}
select:focus {
  outline: none;
}
.points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #d0cdc7;
  margin: 3vw;
  border-radius: 4px;
  font-size: 1.2rem;
}
.monthly-points {
 grid-column: 1 / 3;
 grid-row: 1;
}
.purchases-label {
  grid-column: 1 / 3;
  grid-row: 2;
  margin-right: 4rem;
  margin-left: auto;
}
.purchases {
  grid-column: 3;
  grid-row: 2;
  width: 70%;
}
.points-total {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}